<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965744496199-g0ufgvi7i5nvo3itm1229emsl3ld8lic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965744496199-g0ufgvi7i5nvo3itm1229emsl3ld8lic</string>
	<key>API_KEY</key>
	<string>AIzaSyChXvnShTIBFq7l9-x7Pf1Mz-gW4MF_fdY</string>
	<key>GCM_SENDER_ID</key>
	<string>965744496199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pimSmarket</string>
	<key>PROJECT_ID</key>
	<string>smarket-8aa30</string>
	<key>STORAGE_BUCKET</key>
	<string>smarket-8aa30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965744496199:ios:bdad69e10a56ef0a9fab62</string>
</dict>
</plist>